@use './variables';
@use './initial';
@use './mixins';


//header
.div-inicio-principal {
    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
    background-color: variables.$red;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        /* Cambia la dirección a columna en pantallas más pequeñas */
    }
}

.div-inicio {
    margin: 10px 20px;
    padding: 10px 20px;
}

#proyectos,
#contacto,
#persona {
    @include mixins.inicio;
}

.seleccionado {
    color: variables.$red-dark !important;
    transform: scale(1.5) !important;
}

//Bibliografia
.contenedorPerfil {
    margin: 160px 320px;
    background-color: variables.$red;
    display: flex;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        /* Cambia la dirección a columna en pantallas más pequeñas */
        align-items: center;
        /* Centra horizontalmente */
        margin: 50px auto;
    }
}

.contImag {
    align-items: center;
    justify-content: center;
}

.Foto_perfil {
    margin: 10px;
    background-color: variables.$red-dark;
    padding: 5px;
    width: 120px;
    height: 170px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        width: 100px;
        height: 140px;
        /* Ajusta el tamaño de la imagen en pantallas más pequeñas */
    }
}

.contBibliografia {
    background-color: variables.$red;
    padding: 10px;
    align-items: center;
    justify-content: center;

    & #nombre,
    & #nacimiento {
        @include mixins.contenidoBibliografia;
        font-size: 20px;

        @media screen and (max-width: 768px) {
            font-size: 16px;
            /* Ajusta el tamaño del texto en pantallas más pequeñas */
        }
    }
}

.descripcion {
    background-color: variables.$red;
    font-size: 20px;
    color: variables.$white;
    align-items: center;
    justify-content: center;
}

.contenedorBtns {
    display: flex;
    justify-content: center;
    align-items: center;
}


.botonSaber {
    @include mixins.btnModal;
    background: variables.$red-dark;

    &:hover {
        background: black;
    }
}


.CV {
    @include mixins.btnModal;
    text-decoration: none;
    background: variables.$red-dark;
    text-align: center;

    &:hover {
        background: black;
    }
}

//Diseño del Modal
.modalInfo {
    margin: auto;
    justify-content: center;
    align-items: center;
    border-color: red;

    @media screen and (max-width: 768px) {
        max-width: 90%;
        height: 100%;
        /* Ajusta el ancho máximo en pantallas más pequeñas */
    }

    & h2 {
        background-color: variables.$red;
        padding: 5px;
        margin: 5px;
        font-size: 30px;
        border-radius: 10px;
        text-align: center;
        color: black;
    }

    & ul {
        padding: 5px;
        margin: 5px;

        & li {
            padding: 5px;
            margin: 5px;
            color: black;
        }
    }

    & p {
        text-align: center;
        padding: 5px;
        margin: 5px;
        color: black;
    }
}

.modalSkills {
    margin: auto;
    justify-content: center;
    align-items: center;
    border-color: red;

    @media screen and (max-width: 768px) {
        max-width: 90%;
        /* Ajusta el ancho máximo en pantallas más pequeñas */
    }
}

.skills {
    height: 100%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: variables.$red;
}

#skill {
    padding: 10px;
    margin: 10px;
    color: black;
}



.contenedor-botonCerrar {
    justify-content: center;
    align-items: center;
    display: flex;
}

.botonCerrar {
    @include mixins.btnModal;
    background: variables.$red;

    &:hover {
        background: variables.$red-dark;
    }
}



//Contactos
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        /* Cambia la dirección a columna en pantallas más pequeñas */
    }
}

form {
    background-color: variables.$red;
    padding: 20px;
    width: 800px;
    border-radius: 20px;

    @media screen and (max-width: 1024px) {
        width: 90%;
        /* Ajusta el ancho del formulario en pantallas más pequeñas */
    }

    & h2 {
        background-color: variables.$white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px;
        color: variables.$white;
        width: calc(100% - 15px);
    }

    & label {
        color: variables.$white;
        padding: 10px;
        margin: 10px;
        background-color: variables.$red-dark;
        font-size: 15px;
        display: block;
        width: calc(100% - 15px);
        border-radius: 10px;
    }

    & input {
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        background-color: variables.$white;
        font-size: 15px;
        display: block;
        width: calc(100% - 15px);
    }

    & .btnEnviar {
        @include mixins.btnModal;
        background-color: variables.$red-dark;
        width: 100%;
        transition: 300 ms ease;

        &:hover {
            background-color: black;

        }
    }

    & textarea {
        padding: 10px;
        margin: 5px;
        background-color: variables.$white;
        /* Cambia el color de fondo según tus preferencias */
        font-size: 15px;
        display: block;
        width: calc(100% - 15px);
        /* Ancho igual al 100% menos el padding y margen */
        height: 300px;
        /* Ajusta la altura según tus necesidades */
        resize: vertical;
        /* Permite redimensionar verticalmente */
        border-radius: 10px;
        /* Opcional: agrega bordes redondeados */
        border: 1px solid variables.$red-dark;
        /* Opcional: agrega borde */
    }
}



//Proyectos
.contProyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 700px;
    background-color: variables.$red;
    border-radius: 20px;

    @media screen and (max-width: 1024px) {
        margin: 50px auto;
        width: 90%;
        flex-direction: column;
    }

    & .contProyecto2 {
        text-align: center;
        /* Centra horizontalmente el contenido */
        margin: 20px 10px;

        & .contProyecto-img {
            margin: auto;
            /* Centra la imagen horizontalmente */
            & .img-proyecto{
                width: 90%;
                height: 90%;
            }
        }

        & .contProyecto-contDescricion-contTecno {
            & i {
                margin: 5px;
                padding: 5px;
            }
        }
    }

    & .contProyecto-contDescripcion {
        padding: 5px;
        margin: 20px;

        & .contProyecto-contDescricion-descripcion {
            font-size: 20px;
        }

        & .contProyecto-contDescricion-contTecno {
            & i {
                margin: 5px;
                padding: 5px;
            }
        }
    }
}

//Footers
.pie {
    background-color: variables.$red-dark;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: auto;

    & .redes {
        justify-content: center; //central horizontalmente
        align-items: center; //centrar verticalmente
        display: flex;

        & a {
            text-decoration: none; //para sacar el subrayado 
            display: inline-block;
            color: #fff;
            background-color: transparent;
            text-align: center;
            margin: 10px;
            padding: 5px;
            transition: 300 ms ease;

            &:hover {
                color: rgb(0, 0, 0);
            }
        }
    }

    & .derechos {
        background-color: red;
        padding: 2px;
        text-align: center;
        color: #fff;

        & small {
            font-size: 15px;
        }
    }
}