@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
$font: 'Space Mono', monospace;

$white: hsl(0, 0%, 95%);
$Black: hsl(0, 0%, 11%);
$red: hsl(0, 100%, 50%);
$red-light: hsl(0, 100%, 61%); 
$red-dark: hsl(0, 100%, 25%);
$grey: hsl(0, 0%, 54%);